<%= form_with model: genre, method: :post do |f| %>
  <div class="form-group">
    <%= f.label :ジャンル名 %>
    <%= f.text_field :name, placeholder: "ジャンル名" %>
    <%= f.submit "新規登録",class: "btn btn-success px-4" %>
  </div>
  <% end %>