      <h2>ジャンル一覧・追加</h2>
      <%= render 'genres/form', genre:@genre %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ジャンル</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td "text-center"><%= genre.name %></td>
            
                <td><%= link_to "編集する", edit_genre_path(genre), class: "btn btn-success" %></td>
                <td><%= link_to "削除する", genre_path(genre), method: :delete,"data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
              
          </tr>
        <% end %>
        </tbody>
      </table>
    